		body{
			font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
			margin-left:0;
			-webkit-box-shadow:#EEE -3px 0px 4px;
			border-left:1px solid #D2D2D2; 
			padding:10px;
			padding-left:60px;
			margin-top:0;
			padding-top:0;
			position:absolute;
		}
		h1{
			padding:20px 50px;
			margin:0;
			background-color:#1b1b1b;
			color:white;
		}
		section{
			background-color:#ffAAAA;
			border:1px solid red;
			padding:10px;
		}
		nav{
			padding:4px;
			padding-right:15px;
			overflow:auto;
		}
			nav ul{
				padding:0;
			}
				nav li{
					list-style:none;
					border:1px solid transparent;
					padding:5px 3px;
				}
					nav li a{
						color:gray;
						text-decoration:none;
					}
					nav li .descr{
						font-weight:normal;
					}
				nav li.h2{
					border-top:1px solid #f2f2f2;
					margin-top:10px;
					padding:10px 3px;
					font-weight:bold;
				}
				nav li.h3{
					color:#222;
					font-weight:bold;
				}
					nav li.h3 .code{
						color:#333;
						font-weight:normal;
					}
				nav li.h3{
					padding-left:20px;
				}
				nav li:hover{
					border-color:#d2d2d2;
					background-color:#f4f4f4;
				}
		@media all and (max-width: 1200px) {
			body {
				margin-left:0;
			}
			nav {
				position:relative;
				width:auto;
			}
		}
		h2{
			font-size:1.2em;
			padding:20px 0;
			margin-top:50px;
			color:#444;
			border-top:1px solid #d2d2d2;
		}
		h3{
			font-size:1em;
		}
		h4{
			margin-left:-10px;
		}
		pre{
			color:green;
			background-color:#f4f4f4;
			border:1px solid #e4e4e4;
			border-left-width:10px;
			white-space:pre-wrap;
		}
		table{
			border-collapse: collapse;
			border-spacing: 0;
			width:100%;
		}
		td,th{
			border:1px solid #D2D2D2;
			padding:4px 10px 4px 6px;
			vertical-align: top;
		}
		q{
			color:green;
		}
		i{
			color:blue;
		}
		button.displaytable{
			display:none;
		}
		@media all and (max-width: 650px), screen and (max-device-width: 480px) {
			*{
				max-width:100%;
			}
			body {
				margin:0;
				padding:0;
				padding-left:2%;
				max-width:96%;
			}
			h1,h2,h3,h4{
				margin-left:0;
				font-weight:bold;
			}
			pre{
				overflow-x:auto;
				font-size: 90%;
			}

			/** Hide root tables, but display our button to show them, and when our button has toggle we show table */
			body > table{
				display:none;
			}
			button.displaytable{
				display:block;
			}
			button.displaytable.show + table{
				display:block;
			}
		}
		td.yes,span.yes{
			background-color:#00882D;
		}
		td.no,span.no{
			background-color:#CB000F;
		}
		td.partial,span.partial{
			background-color:#20A84D;
		}
		td.no, td.yes,td.partial,
		span.no, span.yes,span.partial{
			color:white;
			text-align:center;
		}
		a.restexplorer{
			text-decoration:underline;
			color:blue;
			font-family:monospace;
		}

		.hide{
			display:none;
		}
		pre:empty:before{
			content: "Loading...";
		}
